* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif, 'Noto Sans TC', sans-serif;
    vertical-align: bottom;
}

.wrap {
    width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 80px 0;
}

.wrap h1 {
    font-size: 30px;
    text-align: center;
    color: #666;
    font-weight: bolder;
    margin-bottom: 40px;
}

.homework-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.homework-list .item {
    width: 30.333333%;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 80%);
    margin-bottom: 20px;
}

.homework-list .item a {
    display: inline-block;
    padding: 20px 0 10px;
    position: relative;
}

.homework-list .item a h2 {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #666;
    border-top: 1px solid #ccc;
}

.homework-list .item a h2:hover {
    color: #999;
}

img {
    width: 100%;
}

span {
    position: absolute;
    bottom: 13px;
    right: 10px;
    font-size: 14px;
    font-weight: bolder;
    color: #999;
}