* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, 'Noto Sans TC', sans-serif;
}

body {
    overflow: hidden;
}

span {
    padding-top: 60px;
    padding-bottom: 15px;
    display: block;
    color: #C00000;
    font-weight: bolder;
}

p {
    padding: 15px 0 60px;
    font-size: 20px;
}

.value {
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn {
    color: #fff;
    background: #7F7F7F;
    padding: 10px 15px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;

}

.section-bomb {
    display: flex;
    width: 100%;
    padding-bottom: 60px;
    min-height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
}

.section-bomb.bomber {
    background: url('./img/bg.jpg') no-repeat center center /cover scroll;
}

/* animation-name: move-bg;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
}

@keyframes move-bg {
    0% {
        transform: rotate(2deg) scale(1);
    }

    50% {
        transform: rotate(-2deg) scale(1);

    }


    100% {
        transform: rotate(2deg) scale(1);

    }
} */

.section-bomb .bomb {
    width: 960px;
    margin: auto;
    position: relative;
    /* transform: rotate(0deg) scale(1); */

}

.section-bomb .bomb .light {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(117deg, rgba(123, 216, 96, 1) 39.2%, rgba(255, 255, 255, 1) 156.2%);
    border-radius: 100%;
    position: absolute;
    bottom: 225px;
    left: 50px;
    z-index: 1;
}

.section-bomb .bomb .light::before {
    content: '';
    position: absolute;
    width: 110px;
    height: 8px;
    border-radius: 25px;
    background: #666;
    top: 40px;
    right: -5px;
}

.section-bomb .bomb .light.danger {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(247, 87, 0, 1) 0%, rgba(249, 0, 0, 1) 90.1%) !important;
}

.section-bomb .bomb .line {
    width: 20px;
    height: 150px;
    background: #444;
    border-radius: 25px 25px 0 0;
    position: absolute;
    bottom: 225px;
    right: 50px;
    z-index: 1;
}

.section-bomb .bomb .line::before {
    content: '';
    width: 8px;
    height: 100px;
    background: #444;
    border-radius: 5px;
    position: absolute;
    bottom: 125px;
    right: 6px;
    z-index: 1;
}

.section-bomb .bomb .pic {
    margin: auto;
    text-align: center;
}

.section-bomb .bomb .pic img {
    width: 40%;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
    margin: auto;
}

@keyframes move {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);

    }

    100% {
        transform: scale(1);

    }
}

.section-bomb .bomb .pic .img-bomber {
    display: none;
}

.section-bomb .bomb .keyboard {
    position: relative;
    background: #D9D9D9;
    padding: 40px 30px 20px;
    border-radius: 25px;
    border-bottom: 10px solid #7F7F7F;
    z-index: 2;
}

.section-bomb .bomb .keyboard .input-item {
    width: calc(100% - 70px);
    position: relative;
    margin: 0 auto 20px;
}

.section-bomb .bomb .keyboard .input-item input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: not-allowed;
}

.section-bomb .bomb .keyboard .input-item .btn-f5 {
    position: absolute;
    border-radius: 5px;
    color: #fff;
    width: 75px;
    height: 35px;
    padding: 0;
    right: 5px;
    top: 5px;
}

.section-bomb .bomb .keyboard .input-item .btn-result {
    position: absolute;
    border-radius: 50%;
    color: #fff;
    width: 35px;
    height: 35px;
    padding: 0;
    right: 90px;
    top: 5px;
}

.section-bomb .bomb .keyboard .btn-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-bomb .bomb .keyboard .btn-box {
    width: 78%;
}

.section-bomb .bomb .keyboard .enter-item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 10%;
}

.section-bomb .bomb .keyboard .enter-item .btn-enter {
    width: 100%;
    padding: 45px 15px;
    background: #404040;
    border-bottom: 8px solid #262626;

}

.section-bomb .bomb .keyboard .enter-item .btn-enter:hover {
    background: #606060;
    box-shadow: inset 0px 0px 5px 2px #26262677;
}

.section-bomb .bomb .keyboard .enter-item .btn-enter:active {
    border-bottom: none;
    box-shadow: 0px 0px 2px 1px #26262677;
    /* border-bottomL: 8px solid transparent; */
}

.section-bomb .bomb .keyboard .btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-bomb .bomb .keyboard .btn-box .btn-number {
    width: 18.555555%;
    margin-bottom: 20px;
    border-bottom: 8px solid #262626;
}

.section-bomb .bomb .keyboard .btn-box .btn-number:hover {
    background: #9F9F9F;
    box-shadow: inset 0px 0px 5px 2px #26262677;
}

.section-bomb .bomb .keyboard .btn-box .btn-number:active {
    border-bottom: none;
    box-shadow: 0px 0px 2px 1px #26262677;
}

@media screen and (max-width: 960px) {
    .section-bomb {
        padding-right: 15px;
        padding-left: 15px;
    }

    .section-bomb .bomb .keyboard .input-item {
        width: 100%;
    }

    .section-bomb .bomb .keyboard .btn-box {
        width: 100%;
    }

    .section-bomb .bomb .keyboard .enter-item {
        width: 100%;
    }

    .section-bomb .bomb .keyboard .enter-item .btn-enter {
        padding: 25px 15px;
    }

    .section-bomb .bomb .line {
        bottom: 325px;

    }

    .section-bomb .bomb .line::before {
        position: absolute;
    }

    .section-bomb .bomb .light {
        bottom: 325px;
    }

    .section-bomb .bomb .light::before {
        top: 38px;
    }

}