/* 共用 */
img {
    width: 100%;
    vertical-align: bottom;
}

.btn {
    background: #00c300;
    border-radius: 25px;
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn:hover {
    background: #01e101;
    color: #fff;
}

h2,
h3 {
    color: #00c300;
    font-size: 36px;
    line-height: 1.5;
}

.text-p {
    font-size: 24px;
}

.ex {
    font-size: 15px;
    color: #717b8e;
    display: inline-block;
}

.clear {
    clear: both;
}

/* 導覽列 ----------------------------------*/
.menu {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9;
}

.menu h1 {
    width: 150px;
    margin-right: 10px;
    line-height: 30px;
    background-image: url('./img/asset\ 6.svg');
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.menu-item {
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
}

.btn-download {
    margin: 0 0 0 auto;
    display: block;
    /* text-align: right; */
}

.btn-download .btn {
    padding: 10px 32px;
}

.menu .menu-link {
    width: 100%;
    display: flex;
    align-items: center;
}

.menu .menu-link .link {
    display: inline-block;
    font-weight: 500;
    color: #2c323f;
    padding: 32px 16px;
    transition: all 0.2s ease;
}

.menu .menu-link .link:hover {
    color: #00c300;
}

/* banner ----------------------------------*/
.main-container {
    width: 100%;
    height: 100vh;
    background: url(https://d3qzy1rn79qj7v.cloudfront.net/hero_images/valid-number-1440.jpg) no-repeat center center/cover scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.asset-7,
.asset-8 {
    position: absolute;
}

.main-container .asset-7 {
    width: 210px;
    top: 80px;
    left: 0;
}

.main-container .asset-8 {
    width: 300px;
    bottom: 0;
    right: 0;
}

/* .main-container::before,
.main-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    z-index: 1;
}

.main-container::before {
    background-image: url('./img/asset\ 7.svg');
    top: 80px;
}

.main-container::after {
    background-position: 100% 100%;
    background-image: url('./img/asset\ 8.svg');
} */
.main-container .text,
.content .data-text,
.content .introduce,
.partner .partner-content,
.experience .experience-content,
.apply .apply-content {
    width: 960px;
}

.main-container .text {
    margin-top: 60px;
    position: relative;
    z-index: 2;
}

.main-container img {
    width: 493px;
}

.main-container .text h2 {
    color: #00c300;
    font-size: 6rem;
}

.main-container .text h2 small {
    font-size: 4rem;
    line-height: 1.5;
}

.main-container .text p {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 500;
    color: #2c323f;
    line-height: 1.5;
}

.main-container .text .btn {
    padding: 12px 70px;
    font-size: 22px;
}

.main-container .text .btn-box {
    display: inline-block;
    text-align: center;
}

.main-container .text .btn-box span {
    display: block;
    padding: 20px 10px;
    color: #00c300;
    font-weight: bolder;
}




/* 市場調查 ----------------------------------*/
.content {
    width: 100%;
}

.content .data-text,
.content .introduce {
    margin: 0 auto;
    color: #2c323f;
}

.content .data-text {
    text-align: center;
}

.content .data-text p {
    font-size: 24px;
    margin: 80px 0 20px;
    font-weight: bolder;
    display: inline-block;
    position: relative;
}

.content .data-text p::before {
    content: '※';
    position: absolute;
    top: -5px;
    right: -15px;
    font-size: 16px;
}


.content .data-text h2 {
    color: #2c323f;
    font-weight: 500;
    padding-bottom: 20px;
}

.content .data-text .green-color {
    color: #00c300;
}

/* .content .data-text .ex {
    font-size: 15px;
    color: #717b8e;
} */

/* 介紹 */
.introduce {
    padding: 80px 0;
}

.introduce .introduce-item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.introduce .introduce-item.reverse {
    flex-direction: row-reverse;
}

.introduce .introduce-item .text {
    width: 50%;
}

.introduce .introduce-item .text h3 {
    display: inline-block;
    position: relative;
    text-align: left;
}

.introduce .introduce-item .text .ex-icon::before {
    content: '※';
    position: absolute;
    top: -5px;
    right: -15px;
    font-size: 16px;
    color: #2c323f;
}

.introduce .introduce-item .text p {
    font-size: 24px;
    text-align: left;
    line-height: 1.5;
    padding-top: 20px;
}

.introduce .introduce-item .text span {
    margin-top: 20px;
}

.introduce .introduce-item .pic {
    width: 45%;

}

/* 夥伴 */
.partner {
    background: #f5f6f9;
    padding: 80px 0;
    text-align: center;

}

.partner h2 {
    color: #2c323f;
    margin-bottom: 40px;
}

.partner .partner-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;

}

.partner .partner-content .partner-item {
    width: 27%;
    /* margin: 0 14px; */
}

.partner .partner-content .partner-item .pic {
    width: 145px;
    height: 145px;
    margin: 0 auto 20px;
}

.partner .partner-content .partner-item .text h3 {
    color: #2c323f;
    font-size: 21px;
}

.partner .partner-content .partner-item .text p {
    font-size: 18px;
    line-height: 1.5;
}

/* 經驗分享 */
.experience {
    padding: 80px 0;
}

.experience h2 {
    color: #2c323f;
    text-align: center;
    margin-bottom: 40px;
}

.experience .experience-content {
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.experience .experience-content .experience-item {
    box-sizing: border-box;
    width: 33.33333%;
    border: 1px solid #d5d5d5;
    padding: 20px;
    margin: 0 1%;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(113 123 142 / 20%);

}

.experience .experience-content .experience-item .symbol {
    position: relative;
}

.experience .experience-content .experience-item h3 {
    font-size: 24px;
    color: #2c323f;
    line-height: 1.5;
    margin-bottom: 20px;
}

.experience .experience-content .experience-item p {
    font-size: 16px;
    line-height: 1.5;
}

.experience .experience-content .experience-item .pic {
    float: right;
    margin-top: 10px;
}

.experience .experience-content .experience-item .symbol img {
    width: 30px;
    margin-bottom: 20px;
}

/* 申請資料 */
.apply {
    margin: 60px 0;
}

.apply .apply-title {
    background-color: #f5f6f9;
    text-align: center;
}

.apply .apply-title h2 {
    display: inline-block;
    color: #2c323f;
    margin-top: 80px;
    margin-bottom: 10px;
}

.apply .apply-title p {
    display: block;
    font-size: 20px;
    color: #00c300;
    padding-bottom: 50px;
}

.apply .apply-content {
    margin: 80px auto;
}

.apply .apply-content .apply-content-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.apply .apply-content h3 {
    font-size: 24px;
    color: #2c323f;
}

.apply .apply-content .form-item {
    width: 43%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.apply .apply-content .form-item label {
    font-size: 18px;
    color: #2c323f;
    margin-bottom: 10px;
    width: 100%;
}

.apply .apply-content .form-item input,
.apply .apply-content .form-item select {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: block;
    box-sizing: border-box;
}

.apply .apply-content span {
    font-size: 15px;
    display: inline-block;
    color: #717b8e;
    padding: 10px 0;
}

.apply .apply-content p {
    font-size: 16px;
    padding-bottom: 10px;
    color: #424c5f;
}

.apply .apply-content .center {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.apply .apply-content .submit {
    border: none;
    padding: 12px 70px;
    font-size: 18px;
    font-weight: 700;
    margin: 20px auto;
}

/* 頁尾 */
footer {
    background-color: #2c323f;
    color: #fff;
    padding: 30px 0 60px;
}

footer .foot {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

footer .foot-link,
footer .foot-reserved {
    width: 50%;
}

footer .foot-link {
    display: flex;
}

footer .foot-link a {
    text-decoration: none;
    color: #d5d5d5;
    padding: 5px 0;
    display: inline-block;
    transition: color 0.2s ease;
    font-size: 15px;
    font-weight: bolder;
}

footer .foot-link .foot-item {
    width: 28.33333%;
}

footer .foot-link .foot-item .title,
footer .foot-contact .foot-item .title {
    font-weight: bolder;
    padding: 15px 0;
    font-size: 17px;
}

footer .foot-contact .foot-item .powered-title {
    font-weight: lighter;
    padding: 20px 0 10px;
    font-size: 15px;
}

footer .foot-contact {
    margin: 0 0 0 auto;
}

footer .foot-contact .foot-item {
    width: 230px;
    box-sizing: border-box;
}

footer .foot-contact .foot-item a {
    color: #d5d5d5;
    font-size: 30px;
    transition: color 0.2s ease;
}

footer .foot-contact .foot-item img {
    width: 100%;
}

footer .foot-contact .foot-item li a {
    float: left;
    margin-right: 37px;
}

footer .foot-contact .foot-item .mr-0 {
    margin-right: 0;
}

footer .foot-reserved {
    width: 1200px;
    border-top: 1px solid #f5f6f9;
    margin: 30px auto 0;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .foot-reserved .reserved {
    display: flex;
    color: #d5d5d5;
    font-weight: bolder;
}

footer .foot-reserved .reserved a {
    color: #d5d5d5;
    padding: 0 20px;
    transition: color 0.2s ease;
}

footer .foot-link a:hover,
footer .foot-contact .foot-item a:hover,
footer .foot-reserved .reserved a:hover {
    color: #fff;
}

footer .language {
    display: flex;
    align-items: center;
}

footer .language .globe-icon {
    font-size: 20px;
}

footer select {
    width: 90%;
    background: #2c323f;
    font-size: 16px;
    padding: 5px 0 5px 10PX;
    border: none;
    color: #f5f6f9;
    cursor: pointer;
    font-weight: bolder;
    margin: 0 0 0 auto;
}