* {
    margin: 0;
    padding: 0;
    line-height: 1;
    padding-inline-start: 0;
    box-sizing: border-box;
}

body {
    /* width: 100%; */
}

.main-header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 100%;
    background: #fff;
    box-shadow: 5px 1px 0.3rem #00000060;
    position: fixed;
    top: 0;
    z-index: 11;
}

.logo {
    display: inline-block;
    width: 220px;
}

.logo h1 {
    display: inline-block;
    color: #666;
}

.first-nav>a {
    text-decoration: none;
    display: block;
    padding: 20px;
}

#menu,
#second1,
#second2,
#second3,
#third1 {
    display: none;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 10px;
}

.second-nav>a {
    position: relative;
}



/* 不會超過767 小於或等於767 */
/* @media screen and (width < 768px) */
@media screen and (max-width: 767px) {

    .hamburger {
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger span {
        width: 70%;
        height: 2px;
        background: #666;
        position: relative;
    }

    .hamburger span::after,
    .hamburger span::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background: #666;
        height: 2px;
        transition: all 0.2s ease-in-out;
    }

    .hamburger span::after {
        top: -10px;
    }

    .hamburger span::before {
        bottom: -10px;
    }


    .nav-bar {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: calc(100vh - 40px);
        top: 100%;
        left: 0;
        background: #aaa;
        transition: all 0.2s ease-in-out;
    }

    .first-nav a,
    .second-nav .second-link {
        width: 70%;
        /* display: block; */
        color: #fff;

    }

    .first-nav {
        border-bottom: 1px solid #fff;

    }

    .dropdown,
    .second-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
    }

    .second-nav {
        background: #777;
        border-bottom: 1px solid #fff;
    }



    .btn-arrow {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: 1px solid #ccc;
        line-height: 30px;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        /* background: #ddd; */
        /* padding: 0 30px; */
        font-size: 18px;
        margin-right: 10px;
    }

    .second-nav .second-link+.btn-arrow {
        line-height: 40px;
    }

    /* .dropdown::before {
        content: '⌵';
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #666;
        text-align: center;
        line-height: 30px;
        color: #fff;
        cursor: copy;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
    } */

    .nav-bar a+a {
        border-top: 1px solid #ccc;
    }

    .dropdown-item,
    .second-dropdown-item {
        border-top: 1px solid #fff;
        width: 100%;
        display: none;
        /* padding: 5px 0; */
        background: #ccc;
        /* opacity: 0;
        visibility: hidden;
        height: 0; */
    }


    /* #second1:checked~.main-header .first-nav:nth-child(1)>.dropdown-item {
        display: block;
    }

    #second1:checked~.main-header .first-nav:nth-child(2)>.dropdown-item,
    #second1:checked~.main-header .first-nav:nth-child(3)>.dropdown-item {
        display: none;
    }

    #second2:checked~.main-header .first-nav:nth-child(2)>.dropdown-item {
        display: block;
    }

    #second2:checked~.main-header .first-nav:nth-child(1)>.dropdown-item,
    #second2:checked~.main-header .first-nav:nth-child(3)>.dropdown-item {
        display: none;
    }

    #second3:checked~.main-header .first-nav:nth-child(3)>.dropdown-item {
        display: block;
    }

    #second3:checked~.main-header .first-nav:nth-child(1)>.dropdown-item,
    #second3:checked~.main-header .first-nav:nth-child(2)>.dropdown-item {
        display: none;
    } */
    #second1:checked~.main-header .first-nav:nth-child(1)>.dropdown-item,
    #second2:checked~.main-header .first-nav:nth-child(2)>.dropdown-item,
    #second3:checked~.main-header .first-nav:nth-child(3)>.dropdown-item {
        display: block;
    }

    /* #second1:checked+.first-nav>.dropdown-item,
    #second2:checked+.first-nav>.dropdown-item,
    #second3:checked+.first-nav>.dropdown-item, */
    #third1:checked+.second-dropdown-item {
        display: block;
    }

    #second1:checked .main-header #second2+.dropdown-item,
    #second1:checked .main-header #second3+.dropdown-item {
        display: none;
    }

    /* #second2:checked+.dropdown-item {
        display: block;
    } */

    .dropdown-item li {
        width: 100%;
    }

    .dropdown-item a {
        display: block;
        padding: 20px 0 20px 30px;
        font-size: 17px;
        width: 100%;
        background: #777;
        margin-bottom: 1px;
    }

    /* .second-dropdown-item {} */

    .second-dropdown-item a {
        background-color: #222;
        padding: 20px 0 20px 50px;

    }

    #menu:checked~.main-header .nav-bar {
        opacity: 1;
        visibility: visible;
        left: 0;

    }

    #menu:checked~.main-header span {
        background: transparent;
    }

    #menu:checked~.main-header span::after {
        transform: rotate(45deg);
        top: 0;

    }

    #menu:checked~.main-header span::before {
        transform: rotate(-45deg);
        top: 0;

    }

}

/* @media screen and (768px width >= 768px) */
/* @media screen and (width >= 768px) */
@media screen and (min-width: 768px) {
    .header-nav {
        padding: 0px 10px;
    }

    .nav-bar {
        display: flex;
    }

    .header-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 24PX;
    }

    /* 第一層 */
    .btn-arrow {
        display: none;
    }

    .dropdown {
        position: relative;
        z-index: 1;
    }

    .dropdown-item {
        /* display: none; */
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        position: absolute;
        top: 56px;
        /* right: 50%; */
        z-index: -1;
        /* transform: translateX(50%); */
        /* box-shadow: 0px 2px 0.5rem #00000060; */
        padding: 20px 0;
        border: 1px solid #ddd;
        background-color: #fff;
        transition: all 0.3s ease;
    }

    .dropdown-item:after {
        content: '';
        width: 0;
        height: 2px;
        background: #222;
        position: absolute;
        top: 0;
        /* left: 0; */
        transition: all 0.2s ease-in;
    }

    .dropdown:hover .dropdown-item {
        opacity: 1;
        overflow: visible;
        visibility: visible;
        /* transform: translate(50%, 10px); */
    }

    .dropdown:hover .dropdown-item::after {
        /* left: 100%; */
        width: 100%;
    }


    .dropdown-item li {
        transition: all 0.3s ease;
        /* background-color: #eee; */
        background: #ccc;
        /* border-left: 2px solid #ccc; */
        border-left: 2px solid #fff;

    }

    .dropdown-item a {
        white-space: nowrap;
        display: block;
        padding: 15px 30px;
        background-color: #fff;
        color: #ccc;
    }

    .dropdown-item li:hover {
        border: 1px solid #ccc;
        border-left: 2px solid #aaa;
        /* box-shadow: 0px 2px 0.5rem #00000060; */
        transform: translateX(10px);
    }

    .hamburger {
        display: none;
    }

    .main-nav {
        display: flex;
        position: relative;
        background: transparent;
    }

    .first-nav>a {
        color: #666;
    }

    .first-nav>a:hover {
        /* background: #bbb; */
        color: #fff;
        background-color: #ddd;
    }


    /* 第二層 */
    .second-dropdown-item {
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        position: absolute;
        top: 10px;
        left: 0;
        z-index: -1;
        padding: 20px 0;
        border: 1px solid #ddd;
        transition: all 0.3s ease;
        background-color: #fff;

    }

    .second-dropdown-item:after {
        content: '';
        width: 0;
        height: 2px;
        background: #222;
        position: absolute;
        top: 0;
        transition: all 0.2s ease-in;
    }

    .second-nav>a::before {
        content: '+';
        /* width: 100%; */
        font-size: 16px;
        color: #ccc;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .second-nav:hover>a:before {
        content: '-';
    }

    .second-nav:hover .second-dropdown-item::after {
        width: 100%;
    }

    .second-nav:hover .second-dropdown-item {
        opacity: 1;
        overflow: visible;
        visibility: visible;
        left: 100%;
    }

    /* 
    .dropdown-item li+li {
        border-top: 1px solid #aaa;
    } */

}